/* contact page */
.contact{
  max-width:600px;
  margin:60px auto;
  padding:20px;
}

.contact label{
  display:block;
  margin-top:20px;
  font-weight:bold;
}

.contact input,
.contact textarea{
  width:100%;
  padding:12px;
  margin-top:8px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:16px;
}

.contact button{
  margin-top:25px;
  width:100%;
  padding:15px;
  font-size:18px;
  background:#e60023;
  color:#fff;
  border:none;
  border-radius:10px;
  font-weight:bold;
}

.contact button:hover{
  background:#c4001e;
}
